/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c34244;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: #c9cbcff2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(59, 4, 4, 0.1);
}

h1 {
    color: #520c0c;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bf5f97; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #bc7dd3; /* Darker Green */
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333333;
}
